version: "3.9"

services:
  backend:
    build: ./back-end
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./back-end:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./front-end
    container_name: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./front-end:/usr/src/app
    command: npm start
