<div class="container mt-4">
  <div class="row g-4">
    <!-- Card 1: Perguntas e Respostas -->
    <div class="col-md-6">
      <div class="card h-100">
        <img src="../assets/img/tabuleiro_infantis.jpg" class="card-img-top" alt="Perguntas e Respostas">
        <div class="card-body">
          <h5 class="card-title">Perguntas e Respostas</h5>
          <p class="card-text">Um espaço para testar seus conhecimentos respondendo perguntas.</p>
          <a href="#" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card 2: Tabuleiro -->
    <div class="col-md-6">
      <div class="card h-100">
        <img src="../assets/img/tabuleiro_infantis.jpg" class="card-img-top" alt="Tabuleiro">
        <div class="card-body">
          <h5 class="card-title">Tabuleiro</h5>
          <p class="card-text">Explore o tabuleiro e descubra os desafios do jogo.</p>
          <a href="#" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>
